<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="spaceing h1 text-center mb-4">Change Details</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="md-form">
				<%= form_with model: @user do |f| %>
					<div class="col-12">
						<i class="fa fa-user prefix black-text"></i>
						<%= f.text_field :first_name, id: "first_name_update", class: "form-control" %>
						<%= label_tag "first_name_update", "First Name" %>
					</div>
					<div class="col-12">
						<i class="fa fa-user prefix black-text"></i>
						<%= f.text_field :last_name, id: "last_name_update", class: "form-control" %>
						<%= label_tag "last_name_update", "Last Name" %>
					</div>
					<div class="col-12">
						<i class="fa fa-user prefix black-text"></i>
						<%= f.text_field :username, id: "username_update", class: "form-control" %>
						<%= label_tag "username_update", "Username" %>
					</div>
					<div class="col-12">
						<i class="fa fa-envelope prefix black-text"></i>
						<%= f.text_field :email, id: "email_update", class: "form-control" %>
						<%= label_tag "email_update", "Email" %>
					</div>
					<div class="col-12">
						<i class="fa fa-lock prefix black-text"></i>
						<%= f.password_field :password, id: "password_update", class: "form-control" %>
						<%= label_tag "password_update", "Password" %>
					</div>
					<div class="col-12">
						<%= f.text_area :bio, id: "bio_update", class: "md-textarea" %>
						<%= label_tag "bio_update", "Bio" %>
					</div>
					<div class="row">
						<%= f.submit "Change Details", class: "btn btn-elegant round" %>
						<%= link_to "Delete Account", @user, method: :delete, class: "btn btn-outline-elegant round" %>
					</div>
				<% end %>
			</div>
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->