<div class="container">
	<div class="spaceing row">
		<div class="col">
			<h1><%= @user.full_name %></h1>
		</div><!-- col -->
	</div>
	<div class="row">
		<div class="col">
			<br>
			<h5>Username: <%= @user.username %></h5>
			<h5>Bio:</h5> 
			<% if @user == current_user %>
				<% if @user.bio %>
					<p><%= @user.bio %></p>
				<% else %>
						<p>Where's your bio?! Don't you want one?! Click below to edit your bio!</p>
				<% end %>
				<div class="row button_spacing">
					<div class="col">
						<%= link_to "Edit Your Info", edit_user_path, class: "btn btn-info round" %>
					</div>
					<div class="col">
					<%= link_to 'New Shower Thought', new_post_path, :class => "btn btn-outline-info waves-effect round" %>
					</div>
				</div>
			<% else %>
				<p>No bio to be found</p>
			<% end %>
		</div><!-- col -->
	</div><!-- row -->
	<div class="row">
		<% @posts.each do |post| %>
			<%= render post %>
		<% end %>
	</div>
</div><!-- container -->