<% if @user %>
	<div class="container">
		<div class="row">
			<div class="col feed">
				<h1>Welcome <%= @user.name %></h1>
			</div><!-- col -->
		</div><!-- row -->
		<div class="row">
			<div class="col">
				<%= link_to 'Your Profile', user_path(@user), :class => "btn btn-info round" %>
			</div>
			<div class="col">
				<%= link_to 'New Shower Thought', new_user_post_path(@user), :class => "btn btn-outline-info waves-effect round" %>
			</div>
		</div>
		<div class="row">
				<% @feed.each do |post| %>
					<div class="col-6">
						<div class="card card-body post_container">
							<h4 class="card-title"><%= post.user.username %></h4>
					    <textarea class="card-text post" readonly="true"><%= post.content %></textarea>
				    </div>
			   </div> 
				<% end %>
		</div>
	</div><!-- container -->

<% else %>

	<div class="container_fluid">
		<div class="row center"></div>
		<div class="row">
			<div class="home col">
				<h1>Welcome to the Shower Thoughts Community</h1>
				<p>Feeling existential?</p>
			</div>
		</div>
		<div class="home row">
			<div class="col">
				<%= link_to 'Create Account', new_user_path, :class => "btn btn-info round" %>
				<%= link_to 'Login', login_path, :class => "btn btn-info round" %>
			</div>
		</div>
	</div>
  
<% end %>