<div class="container">
	<div class="row">
		<h1 class="spaceing col h1 text-center mb-4">Welcome Back!</h1>
	</div>
	<%= form_with url: login_info_path, scope: 'login' do |f| %>
  <div class="row">
		<div class="col md-form">
			<%= f.email_field :email, id: "orangeForm-name", class: "form-control" %>
			<%= label_tag "orangeForm-name", "Username" %>
		</div>
	<div class="row">
		<div class="col md-form">
			<%= f.password_field :password, id: "orangeForm-pass", class: "form-control" %>
			<%= label_tag "orangeForm-pass", "Password" %>
		</div>
	</div>
	<% end %>	    
	<div class="row">
		<div class="col">
			<% if flash[:alert] %>
				<p><%= flash[:alert] %></p>
			<% end %>
		</div>
	</div>
</div><!-- container -->
